@model Espelhos_Thor.Models.Espelhos
<div class="form form-group">
    <table>
        <tbody>
            <tr>
                <td>@Html.LabelFor(c=> c.NUM_ESPELHO,"Espelho N°")</td>
                <td>@Html.TextBoxFor(c=>c.NUM_ESPELHO,new { @class = "form-control" }) </td>
            </tr>
        </tbody>
    </table>

</div>
