<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap-responsive.css" />
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="~/Content/css/estilo.css" />
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width" />
</head>

<body>
    @RenderBody()
    <footer>
        <!--Copyright - NCJ/MAP-->
    </footer>
    @RenderSection("Scripts", false)
    <script type="text/javascript" src="~/Scripts/funcoes.js"></script>
</body>
</html>
