@model Espelhos_Thor.Models.Pedido

<table class="table">
<thead>
    <tr>
        <th>Engradados</th>
        <th>2Cm</th>
        <th>3Cm</th>
        <th>Total</th>
    </tr>
</thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>    
</table>
<table class="table">
    <thead>
        <tr>
            <th>Containers</th>
            <th>2Cm</th>
            <th>3Cm</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>

</table>
